@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Anzo';
  src: url(/file.woff2) format("woff2");

}
.font-anzo {
  font-family: 'Anzo' ;
}
/* src/app/global.css */

@font-face {
  font-family: 'Mori-Regular'; 
  src: url(/Mori-Regular.woff2) format("woff2");
}

.font-mori {
  font-family: 'Mori-Regular', sans-serif;
}
@font-face {
  font-family: 'Mori-SemiBold'; 
  src: url(/Mori-Semibold.woff2) format("woff2");
}

.font-mori-semibold {
  font-family: 'Mori-SemiBold', sans-serif;
}


:root {
  --bg: #fff;
  --fg: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TWK Lausanne";
  color: var(--fg);
}

#section2{
  position: relative;
  perspective: 3000px;
}
.rotatetext{
  transform-origin: 100% 70%;
}


.letter,
.word,
.line {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  transform-origin: center top;
  background-color: var(--fg);
  pointer-events: none;
  z-index: 2;
}

/* Transition resets */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 1000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* ✅ Responsive fixes */
@media (max-width: 1024px) {
  .work .projects {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .home .header h1 {
    font-size: 18vw; /* prevent text overflow */
  }

  .work {
    padding: 8em 1em;
  }

  .work .projects {
    width: 100%;
    gap: 2em;
  }

  .studio,
  .contact {
    flex-direction: column;
    padding: 8em 1em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .home .hero-img {
    height: 35vh;
  }
}
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  animation: gradient-move 4s ease infinite;
}

